SUPABASE_URL=https://wznphkitjycyougctody.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind6bnBoa2l0anljeW91Z2N0b2R5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjA5NzkxNCwiZXhwIjoyMDk3NjczOTE0fQ.IljO7LsjIxny7iXKgv6Ds_EybF5X2--lr5nJo8XDyPQ
JWT_SECRET=3286a882d7152d7384372f9ea21d17611d8bc7149ff5a132df5cb5a9860fb265
JWT_EXPIRES_IN=7d
PORT=3001
NODE_ENV=production
